:root {
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Roboto", sans-serif;
  --primary-color: #9fd3c7;
  --secondary-color: #a2a8d3;
  --background-color: rgb(235, 234, 234);
  --container-background-color: #eaf6f6;
}
body {
  background-color: var(--third-color);
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 26px;
}
p {
  font-size: 16px;
  line-height: 1.8;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  font-size: 25px;
  margin: 20px 20px 0 20px;
}
a {
  color: black;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: var(--primary-color);
}
.hero {
  background-color: var(--background-color);
  display: block;
  padding: 130px 60px;
  text-align: center;
}
.hero h2 {
  color: var(--third-color);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 2;
}

.btn-branding {
  background-color: var(--secondary-color);
  border: 1px solid var(--third-color);
  border-radius: 8px;
  color: white;
  font-family: monospace;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 20px;
  transition: all ease-in-out 200ms;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: white;
}

.contact-me {
  background-color: #ececec;
  padding: 50px;
  transition: all ease-in-out 200ms;
}
.contact-button {
  background-color: var(--primary-color);
  color: white;
  font-family: monospace;
  padding: 12px 30px;
  transition: all ease-in-out 200ms;
}
.contact-button:hover {
  background-color: white;
  color: var(--secondary-color);
}

.about-hero {
  background-color: var(--background-color);
  text-align: left;
}
.about-hero-text h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}
.about-hero-text h2 {
  line-height: 1.8;
  font-size: 20px;
}

.fa-linkedin {
  padding-right: 15px;
}
.about-hero-img {
  max-width: 350px;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
.tech-stack {
  font-size: 25px;
  font-weight: bold;
  border-right: grey solid 2px;
  padding-right: 50px;
}
.portfolio-button {
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
  padding: 30px 40px;
  margin: 70px 0 40px;
}
.portfolio-button:hover {
  background-color: var(--primary-color);
}

.work-hero {
  background-color: var(--background-color);
  padding: 80px 60px;
}
.work-hero h1 {
  font-size: 26px;
  font-weight: 900;
}
.work-hero h2 {
  font-size: 20px;
}
.project-container {
  background-color: var(--container-background-color);
  border-radius: 18px;
  padding: 30px 60px;
  margin: 50px;
}
.project-image {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.project-link a:hover {
  color: var(--secondary-color);
}
.contact-container {
  background-color: var(--background-color);
  padding: 150px 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  .hero {
    display: block;
    padding: 80px 10px;
    text-align: center;
  }
  .contact-me {
    flex-direction: column;
  }
  .contact-button {
    margin-top: 20px;
  }
  .about-hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-hero-text {
    text-align: center;
  }
  .about-hero-text h1 {
    margin-top: 25px;
  }
  .about-hero-img {
    max-width: 200px;
  }
  .tech-stack {
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
  }
  li {
    margin: 15px 15px 0 15px;
  }
  .project-link {
    flex-direction: column;
    align-items: center;
  }
  .project-container {
    margin: 30px;
    padding: 30px 10px;
  }
}
